
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');


:root {
    --main-bg-color:#E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #ff3f3c;


}
body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin:0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: bold;
    font-size: 1em;
}

main {
    background: url('polaroid.png') no-repeat center 100px;
    margin:0 auto;
    width: 1000px;
}

.hero {
    position: relative;
    text-align: center;
    height: 100vh;    
}

.hero h2 {
    position: relative; /* Ensure relative positioning for the text */
    top: 20px;
    left: 50%;
    margin-bottom: 700px;
    transform: translateX(-50%);
    font-size: 9em;
    line-height: 1em;
    font-weight: bolder;
    z-index: 1; /* Set a higher z-index value */
}

.phone {
    display: block; /* Ensure "Phone" is on a new line */
}

h2, h3 {
    font-size: 2.5em;
    list-style: none;
    margin-top: 100px;
    padding:0;
    text-align: center;
}

p {
    display: flex; /* Use flexbox */
    justify-content: center; 
    align-items: center;
    text-align: left;
    font-size: 1em;
    width: 725px;
    padding-left: 45px
    
}

.details ul li.wifi {
    list-style: none;
    background: url(wifi-solid\ \(1\).svg) no-repeat center left;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 35px;
}
.details ul li{
    font-size: 1em;
}
.details ul li.cloud {
    list-style: none;
    background: url(cloud-arrow-up-solid.svg) no-repeat center left;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 35px;
}

.details ul li.qr {
    list-style: none;
    background: url(qrcode-solid.svg) no-repeat center left;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 35px;
}

.details ul li.photo {
    list-style: none;
    background: url(photo-film-solid.svg) no-repeat center left;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 35px;
}


.list-container ul li {
    padding-left: 100px;
    list-style: none;
    list-style-type: none;
    display: flex; 
    align-items: center; 
    text-align: center; 
}

.list-container {
    margin: 0 auto; 
    max-width: 800px;
}

form {
    margin-top: 20px;
    margin-left:200px;
    margin-right: 200px;
    display: flex; /* Use flexbox */
    justify-content: center; 
    align-items: center; 
    border: 30px solid lightgray;
    border-radius: 20px;
}

input[type="text"] {
    padding: 30px;
    margin-right: 10px;
    width: 600px;
    border: none;
}

input[type="button"] {
    padding: 25px 10px;
    border: none;
    background-color: #ff3f3c;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

input[type="button"]:hover {
    background-color: #e62e2b;
}